@model IEnumerable<RestauranteDatos.USUARIO>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/datatables.min.css" />

<br />


<h2>Index</h2>

<p>
    <a href='@Url.Action("Create", "Usuario")'
       class="btn btn-info">
        <i class="fa fa-plus"></i>
        Agregar Usuario
    </a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead class="thead thead-dark">
                        <tr>
                            <th>
                                <label>Rut</label>
                            </th>
                            <th>
                                <label>Nombre</label>
                            </th>
                            <th>
                                <label>Apellido</label>
                            </th>
                            <th>
                                <label>Email</label>
                            </th>
                            <th>
                                <label>Contraseña</label>
                            </th>
                            <th>
                                <label>Rol</label>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RUT_USUARIO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.APELLIDO_USUARIO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMAIL_USUARIO)
                                </td>
                                <td>
                                    <label>********</label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem =>  item.ROL.NOMBRE_ROL)
                                </td>
                                <td id="@item.ID_USUARIO">
                                    <a href='@Url.Action("Edit", new { id = item.ID_USUARIO })' class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </a>

                                    <a href='@Url.Action("Delete", new { id = item.ID_USUARIO })' class="btn btn-danger" id="btnDelete">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de eliminar un usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Eliminar</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript">$(document).ready(function () {

            $('#MyTable').DataTable({
                responsive: true
            });

            var id = 0;

            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Usuario/Delete/' + id;
            });

        });</script>
}