@model RestauranteDatos.CLIENTE

@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="box">
            <br />
            <h4 class="text-center">Ingrese su Rut y Contraseña para realizar su pedido.</h4>
            <form>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label">Rut</label>
                    @Html.EditorFor(model => model.RUT_CLIENTE, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @id = "rut",
                       @name = "rut",
                       @oninput = "checkRut(this)"
                   }
               })
                    @Html.ValidationMessageFor(model => model.RUT_CLIENTE, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    @Html.EditorFor(model => model.PASSWORD_CLIENTE, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.PASSWORD_CLIENTE, "", new { @class = "text-danger" })
                </div>


                <input type="submit" value="Ingresar" class="btn btn-primary btn-block" />

                <br />
                <a href="@Url.Action("Create", "Cliente")" class="btn btn-primary btn-block">¿No tienes cuenta?</a>



            </form>
        </div>

    }





