@model IEnumerable<RestauranteDatos.PEDIDO_PLATOS>

@{
    ViewBag.Title = "Pedidos";
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/Recursos/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.transitions.css" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">-->

</head>



<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <div class="main-header" id="main-header">
        <nav class="navbar mynav navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "PedidoCliente")">Restaurante Siglo XXl</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">@Html.ActionLink("Platos", "Index", "PedidoCliente", new { @style = "color: #fff;text-decoration:none;padding: 10px 15px;" })</li>
                        <li class="nav-item">@Html.ActionLink("Carro", "Carro", "PedidoCliente", new { @style = "color: #fff;text-decoration:none;padding: 10px 15px;" })</li>
                        <li class="nav-item">@Html.ActionLink("Ver Pedidos", "Pedidos", "PedidoCliente", new { @style = "color: #fff;text-decoration:none;padding: 10px 15px;" })</li>
                        <li><br /></li>

                        <li>
                            @if (Session["nombre"] != null)
                            {
                                var var = Session["nombre"];
                            <li>
                                <a style="color:#fff;">Bienvenido  @var</a>
                            </li>

                            <li class="nav-item">@Html.ActionLink("Cerrar sesión", "SingOut", "PedidoCliente", new { @style = "color: #fff;text-decoration:none;padding: 10px 15px;" })"</li>
                        }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>





        <!--End navbar-->
        <br /><br /><br /><br />
        <h1 style="text-align:center">Pedidos Realizados</h1>
        <br />
        @if (Model.Count() >= 1)
        {
            <div class="container">
                <table class="table">
                    <tr>
                        <th style="text-align:center">
                            Nombre
                        </th>
                        <th style="text-align:center">
                            Cantidad
                        </th>
                        <th style="text-align:center">
                            Precio
                        </th>
                        @{
                            int totalFinal = 0;
                            int estado = 0;
                            string cuenta = "";
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.PLATO.NOMBRE_PLATO)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.CANTIDAD)
                            </td>
                            <td style="text-align:center">
                                @{

                                    int total = item.CANTIDAD * item.PLATO.PRECIO_PLATO;
                                    totalFinal += total;
                                    estado = item.PEDIDO.ESTADO_PEDIDO;

                                    if (item.PEDIDO.ESTADO_PEDIDO == 0)
                                    {
                                        cuenta = "Pendiente";
                                    }
                                    else if (item.PEDIDO.ESTADO_PEDIDO == 1)
                                    {

                                        cuenta = "Servido";
                                    }
                                    else if (item.PEDIDO.ESTADO_PEDIDO == 2)
                                    {
                                        cuenta = "Pagando";
                                    }
                                }
                                @Html.DisplayFor(modelItem => total)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Estado pedido:  <b>@cuenta</b></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>Total : @totalFinal</b>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @{
                                if (estado == 1)
                                {
                            <p>
                                <a href="@Url.Action("Index", "PedidoCliente")" onclick="aviso()" class="btn btn-info" style="text-align:left">
                                    <i class='fas fa-cash-register'></i> Pedir cuenta
                                </a>

                                &nbsp;

                                <a href="@Url.Action("Index", "WebPay")" class="btn btn-warning" style="text-align:right">
                                    <i class="fa fa-credit-card"></i> Pagar con WebPay Plus
                                </a>
                            </p>
                                }
                            }
                        </td>
                    </tr>

                </table>
            </div> }
        else
        {
            <div class="container">
                <div class="alert alert-info">
                    <strong>Usted no ha solicitado ningún pedido.</strong>Puede<a href="@Url.Action("Index")"> redirigirse aquí</a> para seleccionar un pedido.

                </div>
                <table class="table">
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio
                        </th>
                    </tr>
                </table>
            </div>
        }

        <script type="text/javascript">
                    function aviso() {
                        let aviso = document.getElementById("card-footer");
                        alert("Se ha generado la boleta, dirijase a Caja para pagar.");
            }

        </script>


        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"> <span class="copyright">Portafolio 2020, DUOC UC</span> </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li>Plantilla: <a href="https://www.free-css.com/free-css-templates/page256/ethereal">W3 Template</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>